.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 480px) {
  .page-header {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    height: 400px;
  }
  .hero__title {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    line-height: 1.62;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
  .hero__title {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    line-height: 1.62;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
  .hero__title {
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .about__image {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .about__image {
    width: 354px;
  }
  .about__item {
    width: 354px;
    margin: 0 15px;
  }
  .about__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    display: flex;
    margin: 0 -15px;
  }
  .about__image {
    width: 270px;
  }
  .about__item {
    width: 270px;
    margin: 0 15px;
  }
  .about__title {
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .card-set__image {
    display: block;
    width: 450px;
    height: 460px;
  }
}

@media screen and (max-width: 479px) {
  .card-set__image {
    display: block;
    width: 100%;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .card-set__item {
    margin: 15px;
  }
  .card-set__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .card-set__image {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set-set__image {
    width: 270px;
    height: 260px;
  }
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 480px) {
  .clients__list {
    display: flex;
  }
  .clients__litle {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
  .clients__list {
    margin: -15px;
    margin-bottom: 30px;
  }
  .clients__link {
    margin: 15px;
    width: 210px;
    height: 92px;
  }
}

@media screen and (max-width: 479px) {
  .clients__list {
    display: block;
    margin-top: 15px;
  }
  .clients .clients__link {
    width: calc(100% - 30px);
  }
  .clients__title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
  .clients__litle {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}

.button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
}

.contacts {
  display: none;
  margin: 0 0 0 auto;
  padding-inline-start: 0px;
}

.contacts__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contacts__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.accent {
  color: #2196f3;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: none;
  position: relative;
  display: none;
  margin-left: 94px;
  margin-top: 0;
  margin-bottom: 0;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link.current::after {
  opacity: 1;
}

.nav__link.current {
  color: #2196f3;
}

.soc {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
  list-style: none;
}

.soc__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc__item:not(:last-child) {
  margin-right: 10px;
}

.soc__item:hover, .soc__item:focus {
  background-color: #2196f3;
}

.soc__link {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

.soc__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc__item:hover .soc__icon,
.soc__item:focus .soc__icon {
  fill: #fff;
}

.card-set {
  list-style: none;
  margin: 0 -15;
  padding-inline-start: 0;
}

.card-set__item {
  display: block;
  background-color: #fff;
}

.card-set__item:not(:last-child) {
  margin-bottom: 30px;
}

.card-set__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-set__image {
  display: block;
}

.card-set__info {
  padding-top: 30px;
  padding-bottom: 24px;
}

.card-set__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}

.card-set__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.about {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  padding-top: 60px;
  padding-bottom: 30px;
}

.about__item {
  padding-inline-start: 0;
}

.about__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.about__icon {
  width: 70px;
  height: 70px;
}

.about__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
}

.about__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.clients__title {
  margin-top: 0;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients__list {
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0;
  margin-top: 15px;
  margin-bottom: 0;
}

.clients__link {
  display: flex;
  justify-content: center;
  width: 210px;
  height: 92px;
  margin: 15px;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.page-header {
  display: flex;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #ececec;
}

.hero {
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 1600px;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-foto.jpg);
  background-position: center;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  color: #fff;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  list-style: none;
  text-align: center;
  background-color: #f5f4fa;
}

.team__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-work {
  display: none;
  padding-top: 0;
}

.section-work__list {
  display: flex;
}

.section-work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.develop__item {
  position: relative;
}

.develop__item:not(:last-child) {
  margin-right: 30px;
}

.develop__fon {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.develop__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  min-width: 205px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */