
/* Цвет основного текста #757575 */
/* Вторичный цвет текста #212121 */
/* Фоновый белый  #FFFFFF*/
/* Фоновый серый  #F5F4FA*/
/* Фоновый чёрный  #2F303A*/
/* Акцент #2196F3 */
:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #fff;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primery-text-color);
  background-color: var(--primery-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

ul {
  padding: 0;
}

.heading,
.caption-none {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  color: var(--title-text-color);
}

.list {
  list-style: none;
  margin: 0;
}

/* Header */
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header,
.logo {
  color: #000000;
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* SITE NAV */
.nav {
  display: flex;
  align-items: center;
}

.item .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms var(--time-function);
}

.site-nav .link.current::after {
  opacity: 1;
}

/* .site-nav .link.link:hover::after, */
.site-nav .link.link:focus::after {
  opacity: 1;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  position: relative;
  display: flex;
  margin-left: 94px;
}

.site-contacts {
  display: flex;
  margin-left: auto;
  padding-inline-start: 0px;
}

.site-contacts-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.site-nav .item+.item,
.site-contacts .item+.item {
  margin-left: 50px;
}

.site-nav .link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  transition: color 250ms var(--time-function);
}

.site-contacts .link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  fill: var(--primery-text-color);
  transition: color 250ms var(--time-function), fill 250ms var(--time-function);
}

.site-nav .link:hover,
.site-contacts .link:hover,
.site-nav .link:focus,
.site-contacts .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.site-contacts,
.site-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-foto.jpg);
  background-position: center;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  color: var(--primery-white-color);
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-inline-start: 0px;
}

.filter-list .button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  transition: background-color 250ms var(--time-function), color 250ms var(--time-function), box-shadow 250ms var(--time-function);
}

.filter-list .button:hover,
.filter-list .button:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.text {
  font-size: 16px;
  line-height: 1.88;
}

/* Section-caption */
.caption-list-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.caption-list-icon {
  width: 70px;
  height: 70px;
}

.section-caption .list {
  display: flex;
  list-style: none;
}

.caption-list {
  display: flex;
}

.caption-list .item {
  width: 270px;
  margin-right: 30px;
  text-align: left;
}

.caption-list .item:last-child {
  margin-right: 0;
}

.section-caption .section-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

/* Section-work */
.section-work {
  padding-top: 0;
}

.section-work .container {
  padding-top: 0;
}

.section-work .list {
  display: flex;
}

.section-work .section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-work-list .item:not(:last-child) {
  margin-right: 30px;
}

.section-work .item {
  position: relative;
}

.section-work-label {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-work-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  min-width: 205px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-inline-start: 0px;
  justify-content: center;
}

.works-list .title {
  margin-bottom: 4px;
}

.works-list .card {
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms var(--time-function);
}

.works-list .card:nth-child(3n) {
  margin-right: 0;
}

.works-list .card:nth-child(n + 7) {
  margin-bottom: 0;
}

.card-foto {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: var(--primery-white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--time-function);
}

.card:hover .overlay {
  transform: translateY(0);
}

.card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  /* padding: 63px 24px; */
}

.works-list .card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-list .item {
  width: 370px;
  margin: 15px 15px 30px 15px;
}

.works-list .item:nth-child(3n) {
  margin-right: 0;
}

.works-list-text {
  padding: 20px 24px;
  border-right: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  text-align: left;
}

/* Section-team */
.section-team {
  text-align: center;
  background-color: #f5f4fa;
}

.team-image {
  width: 270px;
  height: 260px;
}

.section-team-list {
  display: flex;
}

.section-team-list .item:not(:last-child) {
  margin-right: 30px;
}

.section-team-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.soc-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.soc-link:not(:last-child) {
  margin-right: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms var(--time-function);
}

.social-link {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--primery-white-color);
  transition: background-color 250ms var(--time-function);
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .icon,
.social-link:focus .icon {
  fill: var(--primery-white-color);
}

.section-team .section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-title-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section-team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section-team-list .text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-team-list .item {
  background-color: var(--primery-white-color);
}

.card-list {
  margin: 0;
}

/* SECTION CLIENTS */
.section-clients {
  text-align: center;
}

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.clients-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms var(--time-function);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--time-function);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-list {
  margin-top: 20px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer,
.footer .logo {
  background-color: #2f303a;
  color: var(--primery-white-color);
}

.footer .logo {
  text-align: left;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer .adress {
  max-width: 230px;
  margin-right: 50px;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-social {
  margin-left: 50px;
  /* margin-right: 93px; */
}

.footer-link {
  color: var(--primery-white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms var(--time-function);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-contact-link {
  text-decoration: none;
  color: var(--primery-text-color);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

.footer-soc-list {
  display: flex;
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--time-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.footer .social-link .icon {
  width: 20px;
  height: 20px;
  fill: var(--primery-white-color);
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form {
  position: relative;
  align-items: baseline;
  border: none;
  margin-left: auto;
}

.footer-form-title {
  margin-right: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-input {
  margin-right: 12px;
  padding: 0 16px;
  width: 358px;
  height: 50px;
  color: var(--primery-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms var(--time-function);
}

.footer-input:focus {
  border-color: var(--accent-color);
}

.footer-form-button {
  position: relative;
  margin: 0;
  padding: 10px 29px;
  width: 200px;
  height: 50px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form-icon {
  position: absolute;
  bottom: 14px;
  right: 29px;
  width: 24px;
  height: 24px;
  background-color: var(--accent-color);
}

/* BACKDROP */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms var(--time-function), visibility 500ms var(--time-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) translateY(150%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(0);
  transition: transform 500ms var(--time-function);
  width: 528px;
  height: 581px;
  /* padding: 15px; */
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal .close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  transition: fill 250ms var(--time-function);
}

.modal .close:hover,
.modal .close:focus {
  fill: var(--accent-color);
}

.modal-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 12px;
  height: 12px;
}

.form {
  position: relative;
  display: block;
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
}

.textarea {
  resize: none;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  transition: border-color 250ms var(--time-function);
  color: rgba(117, 117, 117, 0.5);
}

.textarea:focus {
  border-color: var(--accent-color);
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field-lable {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--time-function);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-coment {
  display: flex;
  flex-direction: column;
}

.form-text {
  position: relative;
  padding-left: 36px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.form-link {
  text-decoration: none;
  border-bottom: 1px solid var(--accent-color);
}

.form-link {
  color: var(--accent-color);
}

.form-wrapper {
  position: relative;
}

.form-icon {
  position: absolute;
  left: 14px;
  top: 0;
  width: 15px;
  height: 15px;
  transition: fill 250ms var(--time-function);
}

.form-input:focus+.form-icon {
  fill: var(--accent-color);
}

.button {
  margin-left: 120px;
  margin-top: 30px;
  padding: 10px 56px;
  color: var(--primery-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background 250ms var(--time-function);
}

.form-button:hover,
.form-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

input,
textarea {
  outline: none;
}

/* CHECKBOX */
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 12px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid var(--title-text-color);
  transition: background 250ms var(--time-function);
}

.checkbox:checked+.checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}

.checkbox:focus+.checkbox-icon {
  border-color: var(--accent-color);
}
