.footer {
  color: $primeryWhiteColor;
  background-color: #2f303a;

  &__adress {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  & .logo {
    color: $primeryWhiteColor;
  }

  &__link {
    color: $primeryWhiteColor;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms $timeFunction;
  }

  &__link:hover,
  &__link:focus {
    color: $accentColor;
  }

  &__contact {
    text-decoration: none;
    transition: color 250ms $timeFunction;
  }

  &__contact:hover,
  &__contact:focus {
    color: $accentColor;
  }
}

.social {
  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
  }
}

.soclist {
  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    outline: none;

    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms $timeFunction;
  }

  &__link:hover,
  &__link:focus {
    background-color: $accentColor;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $primeryWhiteColor;
  }
}
