.team {
  list-style: none;
  text-align: center;

  background-color: #f5f4fa;

  &__title {
    margin-top: 0;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $titleTextColor;
  }
}


