.section-work {
  padding-top: 0;

  &__list {
    display: flex;
  }

  &__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $titleTextColor;
  }
}

.develop {
  &__item {
    position: relative;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__fon {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    min-width: 205px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $primeryWhiteColor;
  }
}
