.button {
    padding: 10px 32px;
    border-radius: 4px;
    border: none;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    color: $primeryWhiteColor;
    background-color: $accentColor;
}