.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 12px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 4px;

    border: 2px solid $titleTextColor;
    transition: background 250ms $timeFunction;
  }

  &:checked + &__icon {
    border-color: $accentColor;
    background-color: $accentColor;
    background-size: contain;
    background-origin: border-box;
  }

  &:focus + &__icon {
    border-color: $accentColor;
  }
}
