.contacts {
  display: none;
  margin: 0 0 0 auto;
  padding-inline-start: 0px;

  &__link {
    

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: $primeryTextColor;
    fill: $primeryTextColor;
    transition: color 250ms $timeFunction, fill 250ms $timeFunction;
  }

  &__link:hover,
  &__link:focus {
    color: $accentColor;
    fill: $accentColor;
  }

  &__icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }

    &__item+&__item {
      margin-left: 50px;
    }
}


