.contacts {
  padding-inline-start: 0px;

  &__link {
    font-weight: 500;
    letter-spacing: 0.02em;

    color: $primeryTextColor;
    fill: $primeryTextColor;
    transition: color 250ms $timeFunction, fill 250ms $timeFunction;
  }

  &__link:hover,
  &__link:focus {
    color: $accentColor;
    fill: $accentColor;
  }

  &__icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}
