.form {
  position: relative;
  display: block;
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $titleTextColor;
  }

  &__text {
      position: relative;
      padding-left: 36px;
      font-size: 14px;
      line-height: 1.7;
      letter-spacing: 0.03em;
  }

  &__link {
      text-decoration: none;
      color: $accentColor;
      border-bottom: 1px solid $accentColor;
  }
}

.form__field {
  display: flex;
  flex-direction: column;

  &__lable {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $primeryTextColor;
  }

  &__wrapper {
    position: relative;
  }

  &__input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms $timeFunction;
  }

  &__input:focus {
    border-color: $accentColor;
  }

  &__icon {
    position: absolute;
    left: 14px;
    top: 0;
    width: 15px;
    height: 15px;
    transition: fill 250ms $timeFunction;
  }

  &__input:focus + &__icon {
    fill: $accentColor;
  }
}

.form__coment {
  display: flex;
  flex-direction: column;

  &__textarea {
    resize: none;
    height: 120px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--title-text-color);
    transition: border-color 250ms $timeFunction;

    color: rgba(117, 117, 117, 0.5);
  }

  &__textarea:focus {
    border-color: $accentColor;
  }
}

.form-button {
  margin-left: 120px;
  margin-top: 30px;
  padding: 10px 56px;
  color: $primeryWhiteColor;
  background: $accentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background 250ms $timeFunction;

  .form-button:hover,
  .form-button:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

