.navigation {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  list-style: none;
 
  
}

.nav {
  align-items: center;

  &__list {
    margin-top: 0;
    margin-bottom: 0;

    padding-inline-start: 0;
  }
}

.nav__link {
  padding-top: 32;
  padding-bottom: 32;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $titleTextColor;
  transition: color 250ms $timeFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accentColor;

    opacity: 0;
    transition: opacity 250ms $timeFunction;
  }

  &.current::after {
    opacity: 1;
  }

  &.current {
    color: $accentColor;
  }
}
