.navigation {
  width: auto;
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;

  &__list {
    list-style-type: none;
    display: block;
    padding-inline-start: 0;
  
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.nav__link {
  // position: relative;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
 

  color: $titleTextColor;
  transition: color 250ms $timeFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }

  // &::after {
  //   content: "";

  //   position: absolute;
  //   bottom: -1px;
  //   display: block;
  //   width: 100%;
  //   height: 4px;
  //   border-radius: 2px;
  //   background-color: $accentColor;

  //   opacity: 0;
  //   transition: opacity 250ms $timeFunction;
  }

  // &.current::after {
  //   opacity: 1;
  // }

//   &.current {
//     color: $accentColor;
//   }
// }
