// HEADER

@media screen and(max-width: 767px) {
  .nav__list {
    display: none;
  }

  .contacts {
    display: none;
  }
}

@media screen and(min-width: 768px) {
  .page-header {
    padding: 0;

    .logo {
      margin-right: 88px;
      font-size: 24px;
      line-height: 1.16;
    }
  }

  .nav {
    display: flex;

    &__list {
      display: flex;
      position: relative;
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }
    &__link {
      position: relative;
      font-size: 14px;
      line-height: 1.16;
      padding-top: 32px;
      padding-bottom: 35px;
    }
  }

  .contacts {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 14px;
    padding-bottom: 14px;

    &__link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }
  }
}

// CAPTION
@media screen and(max-width: 767px) {
  .about__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    &__image {
      width: 354px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: self-start;
      width: 354px;
      margin: 0 15px;
    }
  }
}

// TEAM

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    &__item {
      margin-bottom: 0;
    }

    &__item:first-child {
      margin-top: 30px;
    }

    &__image {
      width: 354px;
      height: 374px;
    }
  }
}

// CLIENTS

@media screen and(min-width: 768px) {
  .clients {
    &__link {
      width: 226px;
    }
  }
}

// ABOUTS

@media screen and(min-width: 768px) {
  .abouts .works {
    margin-bottom: 15px;
    justify-content: center;
  }

  .work-card {
    &__img {
      width: 354px;
      height: 294px;
    }

    &__item:last-child {
      margin-right: auto;
    }

    &__description {
      width: 354px;
    }
  }
}

// MODAL

@media screen and(min-width:768px) {
  .form__agree {
    font-size: 14px;
    line-height: 1.7;
  }

  .modal {
    width: 528px;
    height: 581px;
  }
}

// FOOTER

@media screen and(max-width: 767px) {
  .footer {
    text-align: center;
  }
}

@media screen and(min-width: 768px) {
  .footer {
    &__info {
      display: flex;
      align-items: baseline;
    }

    &__adress {
      margin-left: 60px;
    }
  }

  .social {
    margin-left: 165px;
  }

  .subscribe {
    &__input {
      height: 56px;
    }
  }
}

// PORTFOLIO

@media screen and(min-width: 768px) {
  .abouts .works {
    margin-bottom: 30px;
  }
}
