body {
  color: $primeryTextColor;
  background-color: $primeryWhiteColor;

  font-family: $mainFont;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

// section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

ul {
  padding: 0;
}

input,
textarea {
  outline: none;
}

.section-title {
  color: $titleTextColor;
}

.list {
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}
