@media screen and(min-width: 480px) {
  .page-header {
    height: 60px;
  }
}

@media screen and(min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    height: 400px;

    &__title {
      margin-left: auto;
      margin-right: auto;
      width: 360px;

      line-height: 1.62;
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;

    &__title {
      margin-left: auto;
      margin-right: auto;
      width: 360px;

      line-height: 1.62;
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;

    &__title {
      margin-left: auto;
      margin-right: auto;
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
      margin-bottom: 50px;
    }
  }
}

@media screen and (min-width: 480px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;

    &__image {
      width: 450px;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    &__image {
      width: 354px;
    }

    &__item {
      width: 354px;
      margin: 0 15px;
    }

    &__title {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .about {
    display: flex;
    margin: 0 -15px;
    padding-top: 94px;
    padding-bottom: 94px;

    &__image {
      width: 270px;
    }

    &__item {
      width: 270px;
      margin: 0 15px;
    }

    &__title {
      text-align: left;
    }
  }
}

@media screen and (min-width: 480px) {
  .card-set {
    padding-top: 0px;
    margin: -15px;
    margin-bottom: 0;

    &__item {
      // margin: 30px 15px;
      margin-top: 30px;
      margin-bottom: 0;
      margin-left: 15px;
      margin-right: 15px;
    }

    &__item:first-child {
      margin-top: 20px;
    }

    &__image {
      // display: block;
      width: 450px;
      height: 460px;
    }

    &__name {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
  }
  .team {
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
      display: inline-block;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 479px) {
  .card-set__image {
    display: block;
    width: 100%;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    &__item {
      margin-bottom: 0;
    }

    &__item:first-child {
      margin-top: 30px;
    }

    &__image {
      width: 354px;
      height: 374px;
    }
  }
  .team__title {
    // margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set {
    margin-top: -30px;
    margin-bottom: 0;
    &__image {
      width: 270px;
      height: 260px;
    }

    &__item {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .team {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.16;
    }
  }
}

@media screen and(min-width: 480px) {
  .clients {
    margin-top: 60px;
    margin-bottom: 60px;

    &__list {
      display: flex;
    }

    &__title {
      margin-bottom: 15px;
      font-size: 28px;
      line-height: 1.18;
    }

    &__list {
      margin: -15px;
      margin-bottom: 30px;
    }

    &__link {
      margin: 15px;
      width: 210px;
      height: 92px;
    }
  }
}

@media screen and(max-width: 479px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;

    &__list {
      display: block;
      margin-bottom: 0px;
    }

    .clients__link {
      width: 100%;
      margin-top: 30px;
    }

    &__title {
      margin-bottom: 30px;
    }
  }
}

@media screen and(min-width: 768px) {
  .clients {
    &__link {
      width: 226px;
    }
  }
}

@media screen and(min-width: 1200px) {
  .clients {
    margin-top: 94px;
    margin-bottom: 94px;

    &__link {
      margin: 0 15px;
      width: 170px;
    }

    &__title {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.16;
    }
  }
}
