$primeryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$primeryWhiteColor: #fff;
$timeFunction: cubic-bezier(0.4, 0, 0.2, 1);
$mainFont: Roboto, sans-serif;
$secondaryFont: Raleway, sans-serif;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
